.type-color {
  color: orange;
}
.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}
thead th:nth-child(1),
tbody td:nth-child(1) {
  width: 70%;
  text-align: left;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 35%;
}

thead th:nth-child(4) {
  width: 25%;
}

th,
td {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  letter-spacing: 1px;
}

thead {
  font-style: italic;
  color: #58cbea;
}

tbody td {
  text-align: -webkit-center;
  text-align: -moz-center;
}
tbody tr:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
